html {
    scroll-behavior: smooth;
}

.inline-block{
    display: inline-block;
    vertical-align:top;
    text-align: center;

}
/*.logo{
    width: 23%;
    padding: 1%;
    background-color: #E0EEF1;
   
}*/
nav{
    width: 98%;
    padding: 1%;
    margin: 0 auto;
    text-align: center;
    background-color: #E0EEF1;
    float: none;

}
ul {
    text-align: center;
}
li {
    color: #301D17;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 32;
}
h1{
    font-family: 'Montserrat','Poppins', sans-serif;
    color: #301D17;
    text-align: center;
    font-size: 48;
}
h3 {
    font-family: 'Montserrat', 'Poppins', sans-serif;
    font-size:28;
    

}
body{
    font-family: 'Montserrat','Poppins', sans-serif;
    font-size: 20;
    color: #301D17;
}

nav ul{
    width: 50%;
    margin-left: auto;  
}
nav ul li{
    display: inline-block;
    line-height: 80px;
     margin: 0 5px;
}
#heroImg{
    height: 350px;
    padding: 25px;
}

.content{
    margin:0 auto;
    background-color:#7A9D93;
    border-radius: 25px;
    color: #FFFFFF;
    padding: 25px;
    display: flex;
    align-items: center;
}

.content p{
    padding: 10px 10px;
}

.flexContainer{
    display: flex;
    flex-direction: row;

}

.flexContainer div{

    justify-content: center;
    align-items: center;
    padding: 5px, 5px;
    margin: 20px;

    background-color: #784B82;
    color: #FFFFFF;
    border-radius: 15px;
    text-align: center;
}
.workGrid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

}
.workGrid div{

    background-color:#7A9D93;
    border-radius: 25px;
    color: #FFFFFF;
    padding: 25px 25px;
    margin: 25px;
    text-align: center;
    width: 400px;
    

}

.contactGrid{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

}
.contactGrid div{

    background-color:#E0EEF1;
    border-radius: 25px;
    color: #301D17;
    padding: 25px 25px;
    margin: 25px;
    text-align: center;
    width: 300px;
    

}

button{
    color: #301D17;
    background-color:#E0EEF1 ;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 16;
    border-radius: 5px;

}
button:hover{
    transform: scale(1.2,1.2);
}
button:active{
    background-color: #68C9DE;
}

footer{
    background-color: #E0EEF1;
    padding: center; 
    color: #301D17;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 32;
}
footer ul{
    width: 50%;
    margin-left: auto;  
   }
footer ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}




@media only screen and (max-width: 600px){
    .flexContainer {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    .workGrid{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    
    }
}